img{
vertical-align: top;
max-width:100%;}

table {
  width: 10%;
   margin: auto;
}

.subtitle{
  color: black;
  padding-bottom: 10px;
}

header {
  color: #1dcaff;
  font-size: 28px;
  text-align: center;
}

html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;

}


.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

article{    width: 60%;
    float: center;
    margin-bottom: 20px;
    padding: 2%;
    background-color: #FFFFFF;
  margin-left: 80px;}


html, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
  background-color: #eeeeee;
  font-family: "Helvetica";
  text-align: left;
}

footer {
  background-color: #3e3e40;
  overflow: hidden;
      padding: 35px 0 10px 0;
      width: 100%;
      margin: 0;
      text-align: center;
      color: #1dcaff;
      font-size: 14;


}
